# Introdução a biblioteca Pandas



Uma biblioteca Python de alto desempenho e código aberto projetada para simplificar a manipulação e análise de dados organizados em tabelas e séries temporais.

##### Trabalhando com Series no Pandas

In [ ]:
import pandas as pd
# Crindo uma lista simples para trabalhar como series

exemplo1 = [10, 20, 30, 40, 50] # lista simples
series1 = pd.Series(exemplo1) # criando a series
print(series1) # imprimindo a series

0    10
1    20
2    30
3    40
4    50
dtype: int64

##### Trabalhando com Dicionarios (Chave e valor)

In [5]:
# Criando um dicionario com pares _Chave:valor_ para trabalhar com series
exemplo2 = {'a':10, 'b':20, 'c':30, 'd':40, 'e':50} # dicionario
series2 = pd.Series(exemplo2) # criando a series   
print(series2) # imprimindo a series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:

url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
dfs = pd.read_html(url)


print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [10]:
df_bancos = dfs[0]
print(df_bancos.dtypes)

Bank Name                object
City                     object
State                    object
Cert                      int64
Acquiring Institution    object
Closing Date             object
Fund  Sort ascending      int64
dtype: object

In [11]:
df_bancos.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545